body { font-size: .875rem; }
.feather { width: 16px; height: 16px; vertical-align: text-bottom; }
/*
 * Sidebar
 */
.sidebar { position: fixed; top: 0; bottom: 0; left: 0; z-index: 100; /* Behind the navbar */ padding: 48px 0 0; /* Height of navbar */ box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); }
.sidebar-sticky { position: relative; top: 0; height: calc(100vh - 48px); padding-top: .5rem; overflow-x: hidden; overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ }
@supports ((position: -webkit-sticky) or (position: sticky)) {
 .sidebar-sticky { position: -webkit-sticky; position: sticky; }
}
.sidebar .nav-link { font-weight: 500; color: #333; }
.sidebar .nav-link .feather { margin-right: 4px; color: #999; }
.sidebar .nav-link.active { color: #007bff; }
.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather { color: inherit; }
.sidebar-heading { font-size: .75rem; text-transform: uppercase; }
/*
 * Content
 */
[role="main"] { padding-top: 133px; /* Space for fixed navbar */ }
@media (min-width: 768px) {
 [role="main"] { padding-top: 48px; /* Space for fixed navbar */ }
}
/*
 * Navbar
 */
.navbar-brand { padding-top: .75rem; padding-bottom: .75rem; font-size: 1rem; background-color: rgba(0, 0, 0, .25); box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); }
.navbar .form-control { padding: .75rem 1rem; border-width: 0; border-radius: 0; }
.form-control-dark { color: #fff; background-color: rgba(255, 255, 255, .1); border-color: rgba(255, 255, 255, .1); }
.form-control-dark:focus { border-color: transparent; box-shadow: 0 0 0 3px rgba(255, 255, 255, .25); }
.error { color: red; }


/* menu */
.dropdown.action-menu.order-2.order-md-3 {
    padding: 0 1em;
}

.action-menu .dropdown-toggle {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
#sidebarCollapse{display: none;}
@media screen and (max-width: 767px){
#sidebarCollapse{display: block;}
.sidebar { left: -50%; z-index: 1032; padding: 0; transition: all 300ms ease-in-out; }
.sidebar.shown { left: 0; z-index: 1032; padding: 0; box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2); }
.overlay { display: none; position: fixed; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7); z-index: 1031; opacity: 0; transition: all 0.5s ease-in-out; top:0;left:0;}
.overlay.active { display: block; opacity: 1; }
.navbar-brand{background-color: transparent;box-shadow: none;
}
.mobile-nav{display: flex;align-items: center;}
}
.nav-item::marker{display:none;}

/*//For dashboard pagination*/
.custom_footable .table-responsive .dataTables_paginate{
    right: 25px !important;
    position: absolute;
    position: absolute !important;
    top: 28px!important;
    z-index: 999 !important;
}

.custom_footable .table-responsive{
    overflow-x: visible;
}
.custom_footable .dataTables_paginate .paginate_button.current,.custom_footable .dataTables_paginate .paginate_button:hover{background:#007bff !important;color: #fff !important;}
.custom_footable .paginate_button{
            border: 1px solid transparent !important;
            color: #007bff !important;border-color: #007bff !important;
            padding:10px !important;margin-left: 0px !important;}
.view_icon{color: #007bff;}
.danger_color{color:red;cursor: pointer;}
.attach_row{cursor:pointer;}
.lead_searchSec button{margin-top: 1.72rem;}

.select2-container .select2-selection--single{height: 37px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 35px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 35px !important;}
.newLeadForm .card-title,.editLeadForm .card-title,.addProviderForm .card-title,.editProviderForm  .card-title
,.editCenterForm .card-title{cursor: default;}